<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
document.addEventListener("DOMContentLoaded", function () {
  if (localStorage.getItem("analytics-consent") === "true") {

    const s = document.createElement("script");
    s.async = true;
    s.src = "https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.tracking_id }}";
    document.head.prepend(s);

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.analytics.google.tracking_id }}');

  }
});
</script>
