$primary:   #0F172A;
$secondary: #1E293B;
$success:   #10B981;
$info:      #F59E0B;
$warning:   #F59E0B;
$danger:    #ef4444;
$light:     #F8FAFC;
$dark:      #0F172A;

$text-black: #0F172A;
$text-white: rgba($light, .9);

$rounded-borders: 15px;